
</div><!-- /main -->
</div><!-- wrapper -->
</div><!-- /container -->
<% include nav.ejs  %>
</div><!-- /perspective -->
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/classie.js"></script>
<script src="/javascripts/menu.js"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/dataTable.js"></script>
<script type="text/javascript" src="/javascripts/comportement.js"></script>
</body>
</html>