<nav class="outer-nav right vertical">
    <a href="/admin/index" class="icon-home">Home</a>
    <a href="/admin/addNaios" class="icon-news">Ajouter un NaÏos </a>
    <a href="/admin/naios" class="icon-image">Liste Naios</a>
    <a href="#" class="icon-upload">Uploads</a>
    <a href="#" class="icon-star">Favorites</a>
    <a href="#" class="icon-mail">Messages</a>
    <a href="#" class="icon-lock">Security</a>
</nav>